# PlatformIO build files
.pio/

# Visual Studio Code settings
.vscode/

# Python cache files
**/__pycache__/
*.pyc
*.pyo
python/__pycache__/
include/WebContent.h

python/__pycache__/lora_helpers.cpython-311.pyc
/.vscode

